// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  border:solid 1px;
  width: 25%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  background: linear-gradient(#84ddff, #54ff68);
  padding:10px;
  border-radius:20px
}

h3 {
  text-align:center
}

.comments-container {
}

.comment {
  width:500px;
  border-radius:20px;
  border:solid 1px;
  margin: auto;
  margin-top:20px;
  padding: 15px

}

.new-post {
  width:30%;
  margin:auto;
}

#post_content {
  width:100%
}
